{% extends 'IFC/base.html' %}

{% block title %}Leadership{% endblock %}

{% block header %}
    <style>
        /* Add your custom styles here */
        .containerL {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0 10% 0 10%;
        }

        .leader {
            width: 30%;
            padding: 5%;
            text-align: center;
        }
        .leader h2{margin: 0;}
        .leader p{margin: 0;}

        .leader img {
            width: 50%;
            height: 60%;
            object-fit: contain;
        }

        .position {
            color: white;
            background-color: rgb(214, 0, 28);
            padding: 5px;
        }
    </style>
{% endblock %}

{% block content %}
  {% load static %}

  <div class="containerL">
    {% for council in councils %}
    <div class="leader">
      <img src="{{ council.position_holder_image.url }}" alt="{{ council }}">
      <h2>{{ council.position_holder_name }}</h2>
      <p>{{ council.major }}</p>
      <div class="org"><a href="../chapters/{{ council.chapter_affiliation }}">{{council.chapter_affiliation}}</a></div>
      <div class="position">{{ council }}</div>
    </div>
    {% endfor %}

  </div>

  <!-- Add more leader sections as needed -->
{% endblock %}