{% load static %}

<style>
    .navbar {
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 10;
        /* background-image: url("{% static 'IFC/images/navbarBackground.jpg' %}"); */
        background-repeat: no-repeat;
        background-size: cover;
        padding: 8px 16px;
        min-height: 80px; /* Default height for screens larger than or equal to 992px */
        /* background-color: #f8f9fa; You can change this color according to your design */
    }

    @media (max-width: 991px) {
        /* Styles for screens smaller than 992px */
        .navbar {
            min-height: 180px; /* Adjust the height for smaller screens */
        }
    }

    .navbar-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75%;
    }

    .navbar-nav .nav-link {
    position: relative;
    font-size: 18px;
    padding: 0;
    }

    .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000; /* Change this to your desired line color */
    opacity: 0;
    transition: opacity 0.3s ease;
    }

    .navbar-nav .logo-button .nav-link:hover::after {
    opacity: 0;
    }

    .navbar-nav .nav-link:hover::after {
        opacity: 1;
    }

    .navbar-nav .nav-item:not(:last-child) {
        margin-right: 10px;
    }

    .logo-button {
        display: flex;
        justify-content: left;
        align-items: center;
        flex: 1;
    }

    .bold-text {
        font-weight: bold;
    }
    
    .Arial {
        font-family: Arial, sans-serif;
        font-size: small !important;
    }
    .dropdown-item:focus{
        background-color: rgb(214, 0, 28) !important;
        color: white !important;
    }
    .nav-item.dropdown:hover .dropdown-menu{
        display: block;
    }
    .nav-item.dropdown:hover .dropdown-toggle {
        color: black;
    }
    .nav-item{
        white-space: nowrap;
        width: auto;
        margin: 0px 10px;
    }

    .nav-login-container {
        margin-left: 200px;
        margin-right: 0;
        width: 200px;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Logo -->
                <li class="nav-item logo-button">
                    <a class="nav-link" href="/">
                        <img src="{% static 'IFC/images/FSCLogo.png' %}" alt="Button Image" width="70" height="70">
                    </a>
                </li>
                
                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <!-- About Us Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="aboutDropdown">
                        <li><a class="dropdown-item" href="/chapters">Our Chapters</a></li>
                        <li><a class="dropdown-item" href="/leadership">Leadership</a></li>
                    </ul>
                </li>

                <!-- For Chapters Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="forChaptersDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        For Chapters
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="forChaptersDropdown">
                        <li><a class="dropdown-item" href="/calendar">FSC Calendar</a></li>
                        <li><a class="dropdown-item" href="/documents">Important Documents</a></li>
                        <li><a class="dropdown-item" href="https://app.chapterbuilder.com/" target="_blank">Chapter Builder</a></li>
                    </ul>
                </li>

                <!-- Title IX -->
                <li class="nav-item">
                    <a class="nav-link" href="https://sexualviolence.rpi.edu/" target="_blank">Title IX</a>
                </li>

                <!-- Philanthropy & Service -->
                <li class="nav-item">
                    <a class="nav-link" href="Philanthropy-and-service">Philanthropy</a>
                </li>

                <!-- Recruitment Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="recruitmentDropdown" role="button" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Recruitment
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="recruitmentDropdown">
                        <li><a class="dropdown-item" href="/recruitment">Why Join?</a></li>
                        <li><a class="dropdown-item" href="/fall">Fall Recruitment</a></li>
                        <li><a class="dropdown-item" href="/spring">Spring Recruitment</a></li>
                    </ul>
                </li>

                <!-- Login Dropdown -->
                <div class="nav-login-container">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="loginDropdown" role="button" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Hi, <b>{{ user.username }}</b>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="loginDropdown">
                                <li><a class="dropdown-item" href="{% url 'view_profile' %}">View profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'user_logout' %}">Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Log in</a>
                        </li>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>

<script>
    // Enable hover functionality for Bootstrap dropdowns
    $(document).ready(function () {
        $('.dropdown').hover(
            function () {
                $(this).addClass('show');
                $(this).find('.dropdown-menu').addClass('show');
            },
            function () {
                $(this).removeClass('show');
                $(this).find('.dropdown-menu').removeClass('show');
            }
        );
    });

    // Update the URL when a dropdown item is clicked
    $('.nav-link').on('click', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        window.location.href = url;
    });
</script>